/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.go-home {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 0;

    button {
        font-weight: 500;
    }
}
