
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/

.banner {
    position: relative;
    background-size: cover;

    &#about-banner {
        padding-top: 8.325rem;
        padding-bottom: 6.325rem;
    }

    &#contact-banner {
        padding: 2.5rem 0;
        
        @include media-breakpoint-up(lg) {
            padding-top: 8.325rem;
            padding-bottom: 6.325rem;
        }
    }
}
