
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/
#footer {
	background-color: #272727;
}

#footer-top {
	padding-top: 1.35rem;
	font-size: 0.685rem;
	padding-bottom: 1.35rem;
}

#footer-main {
	background-color: #2d2d2d;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

#footer-bottom {
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
}

.copyright {
	color: #727272;
	font-size: 0.875rem;
	font-weight: 300;
}