
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: 0.875rem;
	border: 1px solid #ede3dc;
	padding: 1rem 0;
}

.fbox-icon {
	img {
		max-width: 5rem;
		max-width: 3.5rem;
		min-height: 4rem;
		object-fit: contain;
	}
}