
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	.icon-wrapper {
		color: $light;
		font-size: 1.25rem;
		margin-right: 0.875rem;
	}

	.icon-header {
		display: block;
		font-size: 0.875rem;
		font-weight: 300;
		margin-bottom: 0.5rem;
	}
}